<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome</title>
        {% endif %} 
        {% extends 'bootstrap/base.html'%}

        <!-- Navbar block  --> 
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}
    </head>
    <body>
        <!-- Content block -->

        {% block content %}

        {% endblock%}

        {%block styles %}
            {{super()}}
            <!--Importing the simple mde css and js files  -->
            {{ simplemde.css}}
            {{ simplemde.js }}

        {% endblock %}
    </body>
</html>