
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome </title>
        {% endif %}
        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}

<!-- Styles block -->

        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
        {% endblock %}
        
    </head>
  
    <body>
        {%block content%}
        <div class="container" style="padding-bottom: 20px;">
          <a href="{{url_for('main.new_post')}}" class="btn btn-success">Create post</a>
        </div>
        
        <div class="container" style= "font-family: 'Cormorant Upright', serif;">
            <div class="jumbotron text-center" style="background-color: darkcyan; color: navajowhite; padding: 55px 25px; font-family: monospace;">
              <h1>Recent posts</h1>
            </div>
            <!-- <a href="/subscribe/{{current_user.id}}" class="btn btn-success">Subscribe</a> -->
            <hr>
            {{macro.displayPosts(posts)}}
        </div>
        {%endblock%}
        
    </body>
 </html>

       

   
